.board {
  padding: 20px;
}


.row {
  display: block;
  width: 100%;
  float: left;
}


.row.even-chunk {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.row.even-chunk:nth-child(even){
  padding-left: 75px;
  margin-top: -42.5px;
  margin-bottom: -42.5px;
} 





.row.odd-chunk {
  padding-left: 75px;
  margin-top: -42.5px;
  margin-bottom: -42.5px;
}

.row.odd-chunk:nth-child(even) {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}