.hexagon {
    position: relative;
    width: 150px; 
    height: 86.60px;
    background-color: #64C7CC;
    margin: 43.30px 0;
    float: left;
    margin-left: 1px;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 43.30px solid #64C7CC;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 43.30px solid #64C7CC;
}


.hexagon.wood {
    background-color: #009933 !important;
}
.hexagon.wood:before {
    border-bottom: 43.30px solid #009933;
}
.hexagon.wood:after {
    border-top: 43.30px solid #009933;
}

.hexagon.sheep {
    background-color: #ccff99 !important;
}
.hexagon.sheep:before {
    border-bottom: 43.30px solid #ccff99;
}
.hexagon.sheep:after {
    border-top: 43.30px solid #ccff99;
}

.hexagon.clay {
    background-color: #e67300 !important;
}
.hexagon.clay:before {
    border-bottom: 43.30px solid #e67300;
}
.hexagon.clay:after {
    border-top: 43.30px solid #e67300;
}

.hexagon.wheat {
    background-color: #ffd24d !important;
}
.hexagon.wheat:before {
    border-bottom: 43.30px solid #ffd24d;
}
.hexagon.wheat:after {
    border-top: 43.30px solid #ffd24d;
}

.hexagon.stone {
    background-color: #999999 !important;
}
.hexagon.stone:before {
    border-bottom: 43.30px solid #999999;
}
.hexagon.stone:after {
    border-top: 43.30px solid #999999;
}



.hexagon .point {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 10;
    border: 1px solid black;    

    opacity: 0.5;
    transition: opacity 0.33s ease-in-out;
    pointer-events: all;
}

.hexagon .point:hover {
    opacity: 1;
    cursor: pointer;
}

.hexagon .top {
    left: 66px;
    top: -52px;   
    background-color: red;
}

.hexagon .top-right {
    left: 140px;
    top: -12px;
    background-color: yellow;
}

.hexagon .street {
    position: absolute;
    width: 10px;
    height: 40px;
    z-index: 10;
    transform-origin: center;
    border: 1px solid black;
    
    opacity: 0.5;
    transition: opacity 0.33s ease-in-out;
    pointer-events: all;
}

.hexagon .street:hover {
    opacity: 1;
    cursor: pointer;
}

.hexagon .street-left {
    left: 146px;
    top: 20px;
    background-color: blue;
}

.hexagon .street-top-left {
    left: 110px;
    top: -41px;
    background-color: green;
    transform: rotate(120deg);
}

.hexagon .street-top-right {
    left: 34px;
    top: -43px;
    background-color: purple;
    transform: rotate(60deg);
}


.debug {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}